$colors: (
    theme: (
        primary: #00509d,
        primary-dark: #01488a,
        primary-light: rgba(249, 70, 67, 0.123),
        secondary: #f2c51a,
        heading: #001448,
        heading-2: #00194c,
        body: #2c2c2c,
        main: #ffffff,
        bg-1: #fbf3f2,
        bg-2: #fcf9ed83,
        bg-3: #01223617,
        bg-4: #f1f1f1,
        bg-5: #001b2b,
        bg-6: #b3ccff,
        bg-7: #404040,
        bg-8: #bd16d8,
        bg-9: #f4fdf9,
        bg-10: #f8faff,
        bg-11: #f7f7f7,
        bg-12: #998e8c,
        bg-13: #f2f6ff,
        bg-14: #f1f5ff,
        bg-15: #f4f4ff,
        bg-16: #f8f8f8,
        text: #00070bc2,
        text-2: rgba(0, 7, 11, 0.8),
        text-3: rgba(255, 255, 255, 0.6),
        text-5: rgba(255, 255, 255, 0.5),
        text-4: rgba(1, 43, 67, 0.8),
        text-6: #00070b9a,
        border: #ffffff2d,
        border-2: #baccd6a1,
        border-3: #e7eaf1,
        border-4: #0004075b,
        border-5: #bca3ea,
        border-6: #d9d9d9,
        border-7: #e3e3e3,
        border-8: #d7deeb,
        border-9: #4e4e4e,
        border-10: #e0e0e0,
        border-11: #dcdcdc,
        border-12: #e4e4e4,
        border-13: #ededed,
        border-14: #e0e6f2,
        border-15: #dadfee,
        border-16: #e6e7e7,
    ),
    graay: (
        50: #f6f6f6,
        50_2: #f6f6f688,
        100: #eeeeee,
        500: #a9a9a9,
        600: #8b8b8b,
        700: #82828a,
        800: #616670,
        900: #515357,
        1000: #667594,
        1100: #181818,
        1200: #f5f5f5,
        1300: #8b8989,
        1400: #939393,
        1500: #999999,
    ),
    neutral: (
        0: #ffffff,
        50: #eaeaea,
        100: #d5d5d5,
        200: #ababab,
        300: #808080,
        400: #565656,
        500: #2c2c2c,
        600: #212121,
        700: #161616,
        800: #0b0b0b,
        900: #060606,
        1000: #101010,
        1100: #1a1a1c,
        1200: #141416,
        1300: #1d231f,
        1400: #1c1c1c,
        1500: #616161,
        1600: #151718,
        1700: #7c7b7b,
        1800: #111111,
        1900: #1a1a1a,
        2000: #192919,
        2100: #4d5254,
        2200: #171717,
        2300: #777777,
        2400: #222222,
        2500: #677471,
        2600: #757589,
        2700: #22252f,
        2800: #818181,
        2900: #6d6e72,
    ),
    primary: (
        50: #e6eeff,
        100: #ccddff,
        100_2: #ccddff38,
        200: #99bbff,
        300: #6699ff,
        400: #3377ff,
        500: #0055ff,
        500_2: #0055ff2d,
        600: #0044cc,
        700: #003399,
        800: #002266,
        900: #001133,
        950: #00091a,
        home: #b91202,
        home-2: #df2a19,
        home-3: #fc0012,
        home-4: #ba1111,
        1000: #1cbbb4,
        1100: #f2f9ff,
        1200: #1fb795,
        1300: #024cbc,
        1400: #0075dc,
        1500: #2ab882,
    ),
    secondery: (
        300: #2cb881,
        400: #174b68,
        500: #012b43,
        600: #012236,
        700: #334770,
    ),
    dark: (
        950: #000407,
    ),
    border: (
        1: #e8e8e8,
        2: #e6e7f3,
    ),
    bg: (
        1: #ffffff,
    ),
    gradient: (
        1: linear-gradient(90deg, #f94743 0%, #ff7b49 100%),
    ),
    shadow: (
        1: 4px 4px 20px 5px rgba(17, 16, 16, 0.05),
        2: 0px 0px 20px 0px rgba(17, 16, 16, 0.05),
    ),
);
